.opening-times-table {
  width: 100%;
  text-align: center;
  font-weight: 300;
}

.opening-times-table th.day {
  text-align: left;
}
.opening-times-table td {
  padding: 10px;
}
.opening-times-table th {
  padding: 10px 0px;
  font-weight: 300;
  text-transform: capitalize;
  color: #004e37;
}
.opening-times-table tr:not(:first-child) {
  border-top: 1px solid #d0303d;
}
